{% extends 'inicio.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/styles.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<script src="/static/js/script.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <main>
        <h1>Bienvenido a InfoChat</h1>
        <div id="chatbot-container">
            <div id="chat-log"></div>
            <input type="text" id="user-input" placeholder="Escribe un mensaje...">
        </div>
    </main>
{% endblock %}