{% extends "inicio.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/styleHelp.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <main>
        <h1>Contacto</h1>
        <section>
            <ul class="contact">
                <li><i class="fas fa-envelope"></i>  infochatunt@gmail.com</li>
                <li><i class="fas fa-phone"></i>  +1234567890</li>
                <li><i class="fas fa-map-marker-alt"></i>  Av. Juan Pablo Ii S/n - Universidad Nacional De Trujillo, Trujillo, La Libertad Region 13001</li>
            </ul>
        </section>
    </main>
{% endblock %}
